<app-detalle-usuario [usuario$]="usuarioSeleccionado$" (usuarioActualizado)="actualizarUsuario()"
  (cancelar)="cancelar()">
</app-detalle-usuario>

<div class="card-usuarios mt-4">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <div class="row">
        <div class="col">
          <h4 class="mt-2 text-end">USUARIOS</h4>
        </div>
        <div class="col">
          <app-buscador-usuario (searchResults)="onSearch($event)"></app-buscador-usuario>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div *ngIf="filteredUsers.length > 0; else noUsuarios">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="d-none">ID</th>
              <th scope="col">Nombre de Usuario</th>
              <th scope="col">Correo</th>
              <th scope="col">Rol</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of filteredUsers; trackBy: trackById">
              <td class="d-none">{{ usuario.idUsuario }}</td>
              <td>{{ usuario.nombreUsuario }}</td>
              <td>{{ usuario.correo }}</td>
              <td>
                <select class="form-select" [(ngModel)]="usuario.rol"
                  (change)="actualizarRol(usuario.idUsuario, usuario.rol)">
                  <option [value]="0">Usuario</option>
                  <option [value]="1">Administrador</option>
                </select>
              </td>
              <td>
                <button class="btn btn-dark btn-sm" style="border-radius: 10px; color:white"
                  (click)="verDetalle(usuario.idUsuario)">
                  Ver Detalles
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noUsuarios>
        <p class="text-muted text-center">No hay usuarios disponibles.</p>
      </ng-template>
    </div>
  </div>
</div>