.ofertasContainer {
    text-align: center;
    padding: 20px;
    background-color: #e6f7ff; /* Color de fondo suave */
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ofertaCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #ffffff; /* Fondo blanco para las tarjetas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 15px;
    width: 100%; /* Ajusta el ancho según tus necesidades */
    max-width: 1600px; /* Limita el ancho máximo */
}

.productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.productCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 200px; /* Ajusta el tamaño de la tarjeta */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.productCard:hover {
    transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Efecto de sombra al pasar el mouse */
}

.productImage {
    width: 100%; /* Asegúrate de que la imagen ocupe todo el ancho */
    height: 150px; /* Establece una altura fija para la imagen */
    object-fit: cover; /* Mantiene la proporción de la imagen y la recorta si es necesario */
    border-radius: 8px;
    margin-bottom: 20px;
}

.productName {
    font-weight: bold;
    margin: 5px 0;
}

.productPrice,
.productDiscount {
    color: #333;
}

.progressLoader {
    margin-top: 10px; /* Ajusta el margen para que se separe del contenido */
    width: 100%; /* Cambiar el ancho según el contenedor */
    background: rgba(0, 0, 255, 0.253);
    height: 10px;
    border-radius: 7px;
}

.progress {
    height: 10px;
    border-radius: 7px;
    background: rgb(255, 0, 0);
    transition: width 1s linear; /* Hacer que el ancho cambie suavemente */
}

.countdown{
    margin-top: auto;
}
.strikethrough {
    text-decoration: line-through; /* Aplica el rayo */
    color: red; /* Cambia el color si es necesario */
    font-weight: normal; /* Asegúrate de que no esté en negrita */
}
