<footer class="footer">
    <div class="footer-container layout">
        <div class="col">
            <a href="../home">
                <img src="../images/logo_blanco.png" alt="MUEBLES TRONCOSO">
            </a>
        </div>
        <div class="col">
            <h4>DIRECCIÓN</h4>
            <p>Av. León 202, Jardines del Moral,
                37160 León, Gto.</p>
        </div>
        <div class="col">
            <h4>CONTACTO</h4>
            <p>Tel. 479 145 1392</p>
            <p>contactoMUEBLES TRONCOSOcollection.com</p>
        </div>
        <div class="col redes">
            <a href="../#" class="icon icon-fb"></a>
            <a href="../#" class="icon icon-insta"></a>
        </div>
        <div class="col made">
            <p>HECHO POR:</p>
            <a href="../https://www.corvuz.com/" target="_blank">
                <img src="../images/logo_corvuz.png" alt="MUEBLES TRONCOSO">
            </a>
        </div>
    </div>
</footer>