.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav {
    background-color: #111;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
    border-radius: 10px; /* Simplificado para mayor compatibilidad */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

ul li {
    margin: 20px 0;
    position: relative; /* Para posicionar el menú desplegable */
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: color 0.3s;
    padding: 10px 15px;
    border-radius: 20px;
}

ul li a:hover {
    color: #1e90ff;
}

ul li a i {
    margin-right: 10px;
    font-size: 22px;
}

ul li a span {
    font-size: 16px;
}

/* Específico para el usuario */
ul li.user a {
    background-color: #fff;
    color: black;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
}

ul li.user a i {
    font-size: 18px;
    color: black;
}

ul li.user a span {
    margin-left: 5px;
    color: black;
}

ul li.user:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    padding: 10px;
    min-width: 150px;
    z-index: 1000;
}

.dropdown-menu a {
    color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}
