<div class="menu-container">
    <nav>
        <ul>
            <li><a href="#"><i class="fas fa-home"></i><span>Inicio</span></a></li>
            <li><a href="#"><i class="fas fa-shopping-cart"></i><span>Ventas</span></a></li>
            <li><a href="#"><i class="fas fa-cubes"></i><span>Materias Primas</span></a></li>
            <li><a href="#"><i class="fas fa-truck"></i><span>Proveedor</span></a></li>
            <li><a href="#"><i class="fas fa-clipboard-list"></i><span>Pedidos</span></a></li>
        </ul>
    </nav>
</div>