<div class="Detalle">
    <div class="Detalle-producto">
        <div class="Detalle-producto-container">
            <div class="images">
                <div class="list">
                    <div class="img img-nav">
                        <img src="/assets/images/imagen2.jpeg" alt="MUEBLES TRONCOSO">
                    </div>
                    <div class="img img-nav">
                        <img src="/assets/images/imagen2.jpeg" alt="MUEBLES TRONCOSO">
                    </div>
                    <div class="img img-nav">
                        <img src="/assets/images/imagen2.jpeg" alt="MUEBLES TRONCOSO">
                    </div>
                    <div class="img img-nav">
                        <img src="/assets/images/imagen2.jpeg" alt="MUEBLES TRONCOSO">
                    </div>
                </div>
                <div class="open">
                    <div class="img img-show">
                       <img src="/assets/images/imagen2.jpeg" alt="MUEBLES TRONCOSO">
                    </div>
                    <div class="img img-show">
                       <img src="/assets/images/imagen2.jpeg" alt="MUEBLES TRONCOSO">
                    </div>
                    <div class="img img-show">
                       <img src="/assets/images/imagen2.jpeg" alt="MUEBLES TRONCOSO">
                    </div>
                    <div class="img img-show">
                       <img src="/assets/images/imagen2.jpeg" alt="MUEBLES TRONCOSO">
                    </div>
                </div>
            </div>
            <div class="text">
                <a href="../#" class="heart icon-favorito"></a>
                <h1>MUEBLE CAFE</h1>
                <p class="price">$1,200.00</p>
                <br>
                <br>

                <form action="" id="formTallas">
                    <div class="input">
                        <label for="busto">Busto:</label>
                        <input type="text" id="busto">
                    </div>
                    <div class="input">
                        <label for="cadera">Cadera:</label>
                        <input type="text" id="cadera">
                    </div>
                    <div class="input">
                        <label for="cintura">Cintura:</label>
                        <input type="text" id="cintura">
                    </div>
                    <div class="input">
                        <label for="altura">Altura:</label>
                        <input type="text" id="altura">
                    </div>
                    <div class="input">
                        <label for="largo-falda">Largo falda:</label>
                        <input type="text" id="largo-falda">
                    </div>
                </form>
                <div class="data">
                    <div class="col">
                        <div class="titulo data-titulo">
                            <h3>DESCRIPCIÓN</h3>
                            <span class="icon"></span>
                        </div>
                        <div class="txt">
                            <p>
                                Elegante mueble de madera en color café, ideal para cualquier espacio. Su diseño clásico y acabado liso aportan calidez y estilo, convirtiéndolo en una pieza versátil y funcional para tu hogar.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tiempo">Tiempo aproximado de entrega (4 días)</div>
                <button class="btn-negro">COMPRAR</button>
            </div>
        </div>
    </div>
    <div class="Detalle-recomendaciones">
        <div class="Detalle-recomendaciones-container">
            <div class="flex">
                <button class="icon icon-anterior"></button>
                <h2 class="title">TE PODRIAN GUSTAR</h2>
                <button class="icon icon-siguiente"></button>
            </div>
            <div class="carrousel">
                <div class="item">
                    <a class="Producto">
                        <div class="img">
                            <div class="float">-20%</div>
                            <div class="heart icon-favorito"></div>
                            <img src="/assets/images/reacuadro4.jpg" alt="MUEBLES TRONCOSO">
                            <div class="quiero">LO QUIERO</div>
                        </div>
                        
                    </a>
                </div>
                <div class="item">
                    <a class="Producto">
                        <div class="img">
                            <div class="float">-20%</div>
                            <div class="heart icon-favorito"></div>
                            <img src="/assets/images/recuadro5.jpg" alt="MUEBLES TRONCOSO">
                            <div class="quiero">LO QUIERO</div>
                        </div>
                        
                    </a>
                </div>
                <div class="item">
                    <a class="Producto">
                        <div class="img">
                            <div class="float">-20%</div>
                            <div class="heart icon-favorito"></div>
                            <img src="/assets/images/recuadros1.jpg" alt="MUEBLES TRONCOSO">
                            <div class="quiero">LO QUIERO</div>
                        </div>
                        
                    </a>
                </div>
                <div class="item">
                    <a class="Producto">
                        <div class="img">
                            <div class="float">-20%</div>
                            <div class="heart icon-favorito"></div>
                            <img src="/assets/images/reacuadro4.jpg" alt="MUEBLES TRONCOSO">
                            <div class="quiero">LO QUIERO</div>
                        </div>
                        
                    </a>
                </div>
                <div class="item">
                    <a class="Producto">
                        <div class="img">
                            <div class="float">-20%</div>
                            <div class="heart icon-favorito"></div>
                            <img src="/assets/images/recuadro5.jpg" alt="MUEBLES TRONCOSO">
                            <div class="quiero">LO QUIERO</div>
                        </div>
                        
                    </a>
                </div>
                <div class="item">
                    <a class="Producto">
                        <div class="img">
                            <div class="float">-20%</div>
                            <div class="heart icon-favorito"></div>
                            <img src="/assets/images/recuadros1.jpg" alt="MUEBLES TRONCOSO">
                            <div class="quiero">LO QUIERO</div>
                        </div>
                        
                    </a>
                </div>
                <div class="item">
                    <a class="Producto">
                        <div class="img">
                            <div class="float">-20%</div>
                            <div class="heart icon-favorito"></div>
                            <img src="/assets/images/recuadros1.jpg" alt="MUEBLES TRONCOSO">
                            <div class="quiero">LO QUIERO</div>
                        </div>
                        
                    </a>
                </div>
                <!-- Repite los items según sea necesario -->
            </div>
        </div>
    </div>
</div>