<div class="card-ventas">
    <h1>Punto de Venta</h1>
    <div class="search-bar">
        <input 
            type="text" 
            id="search" 
            placeholder="Buscar productos..." 
            [(ngModel)]="terminoBusqueda" 
            (input)="buscarProductos()"
            />
    </div>

    <div class="venta-container">
        <div class="productos-disponibles">
            <h2>Productos Disponibles</h2>
            <div *ngIf="products.length > 0; else noProductos" class="products-table">
                <div class="row">
                    <div class="col">
                        <div *ngFor="let product of products" class="product-card">
                            <img src="{{product.imagen}}" class="product-image" alt="Imagen de producto {{product.nombreProducto}}">
                            <h3>{{product.nombreProducto}}</h3>
                            <p>Precio: ${{product.precio}}</p>
                            <p>Stock: {{product.stock}}</p>
                            <button class="btn-agregar" (click)="agregarProducto(product)">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #noProductos>
                <p class="text-muted text-center">No hay productos disponibles.</p>
            </ng-template>
        </div>

        <div class="productos-seleccionados">
            <h2>Productos Seleccionados</h2>
            <div class="selected-products-table">
                <table class="table hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Precio Unitario</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let selectedProduct of selectedProducts; let i = index">
                            <td>{{ selectedProduct.producto.idProducto }}</td>
                            <td>{{ selectedProduct.producto.nombreProducto }}</td>
                            <td>{{ selectedProduct.producto.precio }}</td>
                            <td>
                                <input 
                                    type="number" 
                                    [(ngModel)]="selectedProduct.cantidad" 
                                    (change)="actualizarSubtotal(i)"
                                    min="1"
                                    class="form-control w-25"
                                />
                            </td>
                            <td>{{ selectedProduct.subtotal | currency }}</td>
                            <td>
                                <button class="btn-eliminar" (click)="eliminarProducto(selectedProduct.producto.idProducto)">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h1>Total: ${{calcularTotal()}}</h1>
            <button class="save-btn" (click)="guardarVenta();">Guardar Venta</button>
        </div>
    </div>
</div>
