.card-ventas {
    background-color: #fff;
    border-radius: 20px; 
    margin: 4%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 2% 4%;
}

h1, h2 {
    text-transform: capitalize;
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

.search-bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.venta-container {
    display: flex;
    justify-content: space-between;
}

.productos-disponibles, .productos-seleccionados {
    width: 45%; /* Ajusta el ancho como desees */
    padding: 10px;
}

.product-card {
    background: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100px;
    height: auto;
}

.btn-agregar, .btn-eliminar, .save-btn {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}

.btn-agregar {
    background-color: #28a745;
}

.btn-eliminar {
    background-color: #dc3545;
}

.save-btn {
    background-color: #007bff;
    margin-top: 20px;
}
