<div class="card-ventas">
    <h1>Punto de Venta</h1>
    <div class="search-bar">
        <input 
        type="text" 
        id="search" 
        placeholder="Buscar productos..." 
        [(ngModel)]="terminoBusqueda" 
        (input)="buscarProductos()"
        style="border-radius: 15px;"
        />
    </div>

    <h2>Productos Disponibles</h2>

    <!-- Lista de productos o mensaje cuando no hay productos -->
    <div *ngIf="products.length > 0; else noProductos" class="products-table">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr >
                    <th class="d-none">ID</th>
                    <th style="width: 150px;">Imagen</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Categoria</th>
                    <th>Stock</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td style="width: 150px;"><img src="{{product.imagen}}" style="width: 100px; border-radius: 15px;" alt="Imagen de producto {{product.nombreProducto}}"></td>
                    <td class="d-none">{{product.idProducto}}</td>
                    <td>{{product.nombreProducto}}</td>
                    <td>{{product.precio}}</td>
                    <td>{{product.nombreCategoria}}</td>
                    <td>{{product.stock}}</td>
                    <td><button class="btn-agregar" (click)="agregarProducto(product)">Agregar</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Mensaje cuando no hay productos -->
    <ng-template #noProductos>
        <p class="text-muted text-center">No hay productos disponibles.</p>
    </ng-template>

    <h2>Productos Seleccionados</h2>
    <!-- Tabla de productos seleccionados -->
    <div class="selected-products-table">
        <table class="table hover">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio Unitario</th>
                    <th class="w-25">Cantidad</th>
                    <th>Subtotal</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let selectedProduct of selectedProducts; let i = index">
                    <td>{{ selectedProduct.producto.idProducto }}</td>
                    <td>{{ selectedProduct.producto.nombreProducto }}</td>
                    <td>{{ selectedProduct.producto.precio }}</td>
                    <td>
                        <input 
                            type="number" 
                            [(ngModel)]="selectedProduct.cantidad" 
                            (change)="actualizarSubtotal(i)"
                            (keydown)="validarTecla($event)"
                            min="1"
                            [value]="selectedProduct.cantidad"
                            class="form-control w-25"
                        />
                    </td>
                    <td>{{ selectedProduct.subtotal | currency }}</td>
                    <td>
                        <button class="btn-eliminar" (click)="eliminarProducto(selectedProduct.producto.idProducto)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <h1>Total: ${{calcularTotal()}}</h1>

    <!-- Botones para acciones -->
    <div class="action-buttons">
        <button class="save-btn" (click)="guardarVenta();">Guardar Venta</button>
       
    </div>
</div>
