<div class="Catalogo">
    <div class="filtros">
        <div class="cerrar"></div>
        <div class="filtros-container">
            <h2 class="title">FILTROS</h2>
            <div class="blocks">
                <div class="col">
                    <h5>Escritorios</h5>
                    <div class="item">
                        <div class="checkbox">
                            <input type="checkbox" id="bridesmaid1">
                            <span class="sq"></span>
                        </div>
                        <label for="bridesmaid1">madera</label>
                    </div>
                    <div class="item">
                        <div class="checkbox">
                            <input type="checkbox" id="basicos1">
                            <span class="sq"></span>
                        </div>
                        <label for="basicos1">metal</label>
                    </div>
                </div>
                <div class="col">
                    <h5>camas</h5>
                    <div class="item">
                        <div class="checkbox">
                            <input type="checkbox" id="bridesmaid2">
                            <span class="sq"></span>
                        </div>
                        <label for="bridesmaid2">matrominial</label>
                    </div>
                    <div class="item">
                        <div class="checkbox">
                            <input type="checkbox" id="basicos2">
                            <span class="sq"></span>
                        </div>
                        <label for="basicos2">individual</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Catalogo-banner" style="background: url('images/catalogo/banner.jpg')">
        <div class="item">
            <img src="/assets/images/banner.jpg" alt="MUEBLES TRONCOSO">
        </div>
    </div>
    <div class="Catalogo-content">
        <div class="Catalogo-content-container layout">
            <div class="catalogo-actions">
                <div class="btnFiltros">
                    <span class="icon"></span>
                    Filtros
                </div>
                <p>230 ARTÍCULOS</p>
            </div>
            <div class="blocks">
                <div class="blocks-item">
                    <a href="../#" class="Producto">
                        <div class="img">
                            <div class="float">-20%</div>
                            <div class="heart icon-favorito"></div>
                            <img src="/assets/images/recuadros1.jpg" alt="MUEBLES TRONCOSO">
                            <div class="quiero">LO QUIERO</div>
                        </div>
                        <div class="bot">
                            <h5>Mueble nuevo de color cafe</h5>
                            <span class="price desc">$1,200</span><span class="price lastP">$1,200</span>
                        </div>
                    </a>
                </div>
                <div class="blocks-item">
                    <a href="../#" class="Producto">
                        <div class="img">
                            <div class="float">-20%</div>
                            <div class="heart icon-favorito"></div>
                            <img src="/assets/images/recuadros1.jpg" alt="MUEBLES TRONCOSO">
                            <div class="quiero">LO QUIERO</div>
                        </div>
                        <div class="bot">
                            <h5>Mueble nuevo de color cafe</h5>
                            <span class="price desc">$1,200</span><span class="price lastP">$1,200</span>
                        </div>
                    </a>
                </div>
                <div class="blocks-item">
                    <a href="../#" class="Producto">
                        <div class="img">
                            <div class="float">-20%</div>
                            <div class="heart icon-favorito"></div>
                            <img src="/assets/images/recuadros1.jpg" alt="MUEBLES TRONCOSO">
                            <div class="quiero">LO QUIERO</div>
                        </div>
                        <div class="bot">
                            <h5>Mueble nuevo de color cafe</h5>
                            <span class="price desc">$1,200</span><span class="price lastP">$1,200</span>
                        </div>
                    </a>
                </div>
                <div class="blocks-item">
                    <a href="../#" class="Producto">
                        <div class="img">
                            <div class="float">-20%</div>
                            <div class="heart icon-favorito"></div>
                            <img src="/assets/images/recuadros1.jpg" alt="MUEBLES TRONCOSO">
                            <div class="quiero">LO QUIERO</div>
                        </div>
                        <div class="bot">
                            <h5>Mueble nuevo de color cafe</h5>
                            <span class="price desc">$1,200</span><span class="price lastP">$1,200</span>
                        </div>
                    </a>
                </div>
                <div class="blocks-item">
                    <a href="../#" class="Producto">
                        <div class="img">
                            <div class="float">-20%</div>
                            <div class="heart icon-favorito"></div>
                            <img src="/assets/images/recuadros1.jpg" alt="MUEBLES TRONCOSO">
                            <div class="quiero">LO QUIERO</div>
                        </div>
                        <div class="bot">
                            <h5>Mueble nuevo de color cafe</h5>
                            <span class="price desc">$1,200</span><span class="price lastP">$1,200</span>
                        </div>
                    </a>
                </div>
                <div class="blocks-item">
                    <a href="../#" class="Producto">
                        <div class="img">
                            <div class="float">-20%</div>
                            <div class="heart icon-favorito"></div>
                            <img src="/assets/images/recuadros1.jpg" alt="MUEBLES TRONCOSO">
                            <div class="quiero">LO QUIERO</div>
                        </div>
                        <div class="bot">
                            <h5>Mueble nuevo de color cafe</h5>
                            <span class="price desc">$1,200</span><span class="price lastP">$1,200</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>