<div class="buscador">
    <div class="buscador-contenido">
        <div class="buscador-contenido-registro">
            <span class="icon icon-cerrar cerrar"></span>
            <h3 class="title">BUSCAR</h3>
            <div class="input input-buscador">
                <input type="text" placeholder="¿Qué estas buscando?">
                <span class="icon icon-flecha icono"></span>
            </div>
            <div class="resultados">
                <p>15 Resultados</p>
                <a href="../catalogo">Ver todos</a>
            </div>
            <div class="buscador-producto">
                <div class="buscador-producto-result">
                    <div class="buscador-producto-result-img">
                        <img src="../images/bag/bag1.jpg" alt="MUEBLES TRONCOSO">
                    </div>
                    <div class="buscador-producto-result-text">
                        <p>Vestido dorado</p>
                        <p>$1,200.00</p>
                    </div>
                </div>
                <div class="buscador-producto-result">
                    <div class="buscador-producto-result-img">
                        <img src="../images/bag/bag2.jpg" alt="MUEBLES TRONCOSO">
                    </div>
                    <div class="buscador-producto-result-text">
                        <p>Vestido dorado</p>
                        <p>$1,200.00</p>
                    </div>
                </div>
                <div class="buscador-producto-result">
                    <div class="buscador-producto-result-img">
                        <img src="../images/bag/bag3.jpg" alt="MUEBLES TRONCOSO">
                    </div>
                    <div class="buscador-producto-result-text">
                        <p>Vestido dorado</p>
                        <p>$1,200.00</p>
                    </div>
                </div>
                <div class="buscador-producto-result">
                    <div class="buscador-producto-result-img">
                        <img src="../images/bag/bag4.jpg" alt="MUEBLES TRONCOSO">
                    </div>
                    <div class="buscador-producto-result-text">
                        <p>Vestido dorado</p>
                        <p>$1,200.00</p>
                    </div>
                </div>
                <div class="buscador-producto-result">
                    <div class="buscador-producto-result-img">
                        <img src="../images/bag/bag1.jpg" alt="MUEBLES TRONCOSO">
                    </div>
                    <div class="buscador-producto-result-text">
                        <p>Vestido dorado</p>
                        <p>$1,200.00</p>
                    </div>
                </div>
                <div class="buscador-producto-result">
                    <div class="buscador-producto-result-img">
                        <img src="../images/bag/bag2.jpg" alt="MUEBLES TRONCOSO">
                    </div>
                    <div class="buscador-producto-result-text">
                        <p>Vestido dorado</p>
                        <p>$1,200.00</p>
                    </div>
                </div>
                <div class="buscador-producto-result">
                    <div class="buscador-producto-result-img">
                        <img src="../images/bag/bag3.jpg" alt="MUEBLES TRONCOSO">
                    </div>
                    <div class="buscador-producto-result-text">
                        <p>Vestido dorado</p>
                        <p>$1,200.00</p>
                    </div>
                </div>
                <div class="buscador-producto-result">
                    <div class="buscador-producto-result-img">
                        <img src="../images/bag/bag4.jpg" alt="MUEBLES TRONCOSO">
                    </div>
                    <div class="buscador-producto-result-text">
                        <p>Vestido dorado</p>
                        <p>$1,200.00</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>