<div class="card-proveedor">
  <div class="card-header bg-dark text-white" style="border-radius: 15px 15px 0px 0px;">
    <div class="row">
      <div class="col-9">
        <h4 class="mt-2 text-center">PROVEEDORES</h4>
      </div>
      <div class="col">
        <app-buscador-compartido [items]="proveedores" searchProperty="nombreProveedor"
          placeholder="Buscar proveedor..." (searchResults)="onSearchResults($event)">
        </app-buscador-compartido>
      </div>
    </div>
  </div>

  <div class="table-container" *ngIf="resultadosBusqueda.length > 0; else noProveedores">
    <table class="table table-hover">
      <thead class="">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Correo</th>
          <th scope="col">Materia Prima</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proveedor of resultadosBusqueda" (click)="abrirModalModificar(proveedor)">
          <!-- Mostrar los resultados de búsqueda -->
          <td>{{ proveedor.idProveedor }}</td>
          <td>{{ proveedor.nombreProveedor }}</td>
          <td>{{ proveedor.telefono }}</td>
          <td>{{ proveedor.correo }}</td>
          <td>
            <span *ngFor="let mp of proveedor.materiaPrimaList" class="badge bg-dark me-1">
              {{ mp }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noProveedores>
    <p class="mt-2 text-muted text-center">No hay proveedores disponibles.</p>
  </ng-template>

  <button class="add-btn mb-3 w-25" (click)="abrirModalAgregar()">Agregar Proveedor</button>
</div>

<!-- Modal para agregar/modificar proveedor -->
<div class="modal" tabindex="-1" [ngClass]="{'show': isModalOpen}" style="display: block;" *ngIf="isModalOpen">
  <div class="modal-dialog corregir">
    <div class="modal-content corregir-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ esModificacion ? 'Modificar Proveedor' : 'Agregar Proveedor' }}</h5>
        <button type="button" class="btn-close" (click)="cerrarModal()"></button>
      </div>
      <div class="modal-body">
        <form #proveedorForm="ngForm" (ngSubmit)="guardarProveedor()">
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" [(ngModel)]="proveedorActual.nombreProveedor" name="nombre"
              class="form-control" required>
          </div>
          <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" [(ngModel)]="proveedorActual.telefono" name="telefono" class="form-control"
              required>
          </div>
          <div class="form-group">
            <label for="correo">Correo:</label>
            <input type="email" id="correo" [(ngModel)]="proveedorActual.correo" name="correo" class="form-control"
              required>
          </div>
          <div class="form-group">
            <label for="materiaPrima">Materia Prima:</label>
            <div class="input-group">
              <input type="text" id="materiaPrimaInput" [(ngModel)]="materiaPrimaInput" name="materiaPrimaInput"
                class="form-control" (keydown.enter)="agregarMateriaPrima()" placeholder="Agregar materia prima">
              <button class="btn btn-primary" type="button" (click)="agregarMateriaPrima()">Añadir</button>
            </div>
            <div class="mt-2" style="padding: 20px 0 30px 0 !important; display: flex; align-items: center; flex-wrap: wrap !important;">
              <span *ngFor="let mp of proveedorActual.materiaPrimaList; let i = index" class="badge bg-dark me-1" style="display: flex !important;align-items: center;width: max-content; margin-right: 10px !important;">
                <span>{{ mp }}</span>
                <button type="button" class="btn-close btn-close-white btn-sm ms-1" (click)="eliminarMateriaPrima(i)"></button>
              </span>
              </div>
            <input type="hidden" [(ngModel)]="proveedorActual.idProveedor" name="materiaPrima">
          </div>
          <div class="modal-footer">
            <button type="submit" class="add-btn-modal w-100">{{ esModificacion ? 'Guardar Cambios' : 'Agregar
              Proveedor' }}</button>
            <button *ngIf="esModificacion" type="button" class="delete-btn w-100"
              (click)="eliminarProveedorDesdeModal()">Eliminar Proveedor</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>