<header class="header">
    <div class="header-container layout">
        <span id="btnMenu" class="icon icon-menu"></span>
        <nav class="menu">
            <span class="icon icon-cerrar" id="cerrarMenu"></span>
            <ul>
                <li>
                    <a href="/">INICIO</a>
                </li>
                <li>
                    <a href="/catalogo">CATÁLOGO</a>
                </li>
                <li>
                    <a href="/contacto">CONTACTO</a>
                </li>
                <li class="figure">
                    <a href="../home">
                        <img src="../images/logo_MUEBLES TRONCOSO.png" alt="MUEBLES TRONCOSO">
                    </a>
                </li>
            </ul>
        </nav>
        <div class="actions">
            <span id="buscador" class="icon icon-buscar">lupa</span>
            <span id="carrito" class="icon icon-carrito">carrito</span>
        </div>
    </div>
</header>