<header class="header">
    <div class="header-container layout">
        <span id="btnMenu" class="icon icon-menu"></span>
        <div class="logo">
            <a href="../home" class="logo-container">
                <img src="/assets/images/prb-logo.png" alt="MUEBLES TRONCOSO">
            </a>

        </div>
        <nav class="menu">
            <span class="icon icon-cerrar" id="cerrarMenu"></span>
            <ul>
                <li>
                    <a href="/">INICIO</a>
                </li>
                <li>
                    <a href="/catalogo">CATÁLOGO</a>
                </li>
                <li>
                    <a href="/contacto">CONTACTO</a>
                </li>
                <li style="width: 30px;">
                    <span id="buscador" class="fas fa-search"></span>
                </li>
                <li style="width: 30px;">
                    <span id="carrito" class="fas fa-shopping-cart" (click)="toggleBag()"></span>
                </li>
            </ul>
        </nav>
    </div>
</header>