<div class="bag" *ngIf="mostrarBag$ | async">
    <div class="bag-contenido">
      <div class="bag-contenido-registro">
        <span class="icon icon-cerrar cerrar" (click)="toggleBag()"></span>
        <div class="d-flex">
          <h2 class="title">BAG</h2>
          <span class="circulo">{{ (itemsCarrito$ | async)?.length || 0 }}</span>
        </div>
        <div class="scroll">
            <div class="bag-producto" *ngFor="let item of itemsCarrito$ | async">
                <div class="bag-producto-item">
                  <div class="bag-producto-item-contenido">
                    <div class="bag-producto-item-contenido-img">
                      <img style="max-width: 100px;" [src]="'/assets/images/imagenesbd/' + (item?.imagen || 'default.jpg')" alt="{{ item?.nombreProducto || 'Producto' }}">
                    </div>
                    <div class="bag-producto-item-contenido-text">
                      <div class="bag-titulo">
                        <h4>{{ item.nombreProducto}}</h4>
                      </div>
                      <div class="bag-descripcion">
                        <div class="bag-descripcion-item">
                          <p>Cantidad:</p>
                          <p>{{ item?.cantidad || 0 }}</p>
                        </div>
                        <div class="bag-descripcion-item precio">
                          <p>Precio: ${{ item?.precio | number:'1.2-2' || '0.00' }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="icono-eliminar" (click)="eliminarDelCarrito(item?.id)">
                      <span class="icon fa-solid fa-x"></span>
                    </div>
                  </div>
                </div>
              </div>
              
        </div>
        <div class="boton">
          <a href="../datos_de_envio">TERMINAR COMPRA</a>
        </div>
      </div>
    </div>
  </div>
  