<div class="Bag">
    <div class="Bag-container layout">
        <div class="Bag-productos">
            <div class="blocks">
                <div class="blocks-item">
                    <a href="#" class="Producto">
                        <div class="img">
                            <div class="float">-20%</div>
                            <div class="heart icon-favorito"></div>
                            <img src="/assets/images/reacuadro4.jpg" alt="MUEBLES TRONCOSO">
                        </div>
                        <div class="bot" style="width: 100%;">
                            <div class="col">
                                <h5>Vestido negro</h5>
                                <span class="price desc">$1,200</span><span class="price lastP">$1,200</span>
                                <div class="cont">
                                    <button class="icon-menos">-</button>
                                    <span>1</span>
                                    <button class="icon-mas">+</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="Bag-data">
            <div class="Bag-data-table">
                <div class="col">
                    <h1 class="title">BAG</h1>
                    <p>6</p>
                </div>
                <div class="col">
                    <div class="campo">
                        <span>Subtotal:</span>
                        <span class="p">$10,500.00</span>
                    </div>
                    <div class="campo">
                        <span>Descuento:</span>
                        <span class="p">$0.00</span>
                    </div>
                    <div class="campo">
                        <span>Envío:</span>
                        <span class="p">$0.00</span>
                    </div>
                </div>
                <div class="col">
                    <div class="campo total">
                        <span>TOTAL:</span>
                        <span class="p">$0.00</span>
                    </div>
                </div>
                <a href="#">PROCEDER AL PEDIDO</a>
            </div>
        </div>
    </div>
 </div>